body {
    width: 900px;
    height: 900px;
    text-align: center;
    padding: 2rem;
    }

.board {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.board div {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 1px solid black;
    font-size: 200px;
    text-align: center;
    line-height: 1.5;
    border-radius: 15px;
    border: 3px solid #857070;
    background: #f4fcc8;
}

h1 {
    font-size: 50px;
}